body {
    background: #77a9eb;
    font-family: Segoe UI;
    color: #f1f3fc;
    letter-spacing: 0.08em;
    font-weight: 500;
}

.container {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;

}

.contents {
    flex: 1;
    font-size: 24px;
    line-height: 1.9em;
    color: azure;
    margin-top: 100px;
    text-align: center;
    background: #77a9eb;
    text-decoration-color: #f1f3fc;
    padding-bottom: 2px;
}

.right {
    width: 400px;
    margin-top: 150px;
    margin-left: 360px;
    font-size: 30px;
    line-height: 2.2em;
    text-align: center;
    background: #77a9eb;
}

#footer {
    align-items: flex-end;
}

a:link {
    color: aliceblue;
}

a:hover {
    color: deeppink;
}

a {
    text-decoration: none;
    font-weight: 650;
}

h1 {
    font-size: 35px;
    text-decoration: none;
    color: #f39c06;
}

p {
    font-weight: bold;
}

.bold > a {
    font-weight: bold;
    color: #2ecc71;
    text-decoration: underline;
}

.modal-area-inner{
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  color: rgb(115, 193, 241);
  font-size: 20px;
}

h2 {
  font-size: 20px;
}
