body {
  background: #77a9eb;
  font-family: Segoe UI;
  color: #f1f3fc;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.contents {
  flex: 1;
  font-size: 24px;
  line-height: 1.9em;
  color: azure;
  margin-top: 100px;
  text-align: center;
  background: #77a9eb;
  text-decoration-color: #f1f3fc;
  padding-bottom: 2px;
}

.right {
  width: 400px;
  margin-top: 170px;
  font-size: 30px;
  line-height: 2.2em;
  text-align: center;
  background: #77a9eb;
}

#footer {
  align-items: flex-end;
}

a {
  &:link {
    color: aliceblue;
  }

  &:visited {
    color: #f1f3fc;
  }

  &:hover {
    color: deeppink;
  }

  text-decoration: none;
  font-weight: 650;
}

h1 {
  font-size: 35px;
  text-decoration: none;
  color: #EDCBD8;
}

p {
  text-decoration: underline;
  font-weight: bold;
}

.bold > a {
  font-weight: bold;
}
