<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Put your description here." />
    <title>My Site</title>
    <link
      rel="shortcut icon"
      href="public/sakura.webp"
      type="image/webp"
      sizes="16x16"
    />
    <link rel="stylesheet" href="src/assets/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js" defer></script>
    <link rel="preload" href="public/sakura.webp" as="image" type="image/webp" />
  </head>

  <body>
    <!-- sakura -->
    <div class="cherry-blossom">
      <div
        v-for="sakura in sakuraElements"
        :key="sakura.id"
        class="sakura"
        :style="sakura.style"
      ></div>
      <main class="menu" v-cloak>
        <!-- app1 -->
        <div id="app1">
          <a
            class="button"
            v-on:click="showModal('modal1')"
            href="#"
            role="link"
            tabindex="0"
            >About</a
          >
          <transition name="modal-fade">
            <div
              v-if="showModal1"
              class="modal"
              v-on:click="hideModal('modal1')"
            >
              <div class="modal-inner" v-on:click.stop>
                <h1>About</h1>
                <p>横浜出身。東京にて暮らしてます</p>
                <p>趣味はバイクをいじったりDIYをすることです</p>
              </div>
            </div>
          </transition>
        </div>

        <!-- app2 -->
        <div id="app2">
          <a
            class="button"
            v-on:click="showModal('modal2')"
            href="#"
            role="link"
            tabindex="0"
            >Skill</a
          >
          <transition name="modal-fade">
            <div
              v-if="showModal2"
              class="modal"
              v-on:click="hideModal('modal2')"
            >
              <div class="modal-inner" v-on:click.stop>
                <h1>Skill</h1>
                <h2>得意言語: Java, C++</h2>
                <h2>扱える言語: Python, JavaScript, SQL</h2>
                <h2>
                  本業のバックエンドと<br />趣味でフロントエンド開発をやっています
                </h2>
              </div>
            </div>
          </transition>
        </div>

        <!-- app3 -->
        <div id="app3">
          <a
            class="button"
            v-on:click="showModal('modal3')"
            href="#"
            role="link"
            tabindex="0"
            >Link</a
          >
          <transition name="modal-fade">
            <div
              v-if="showModal3"
              class="modal"
              v-on:click="hideModal('modal3')"
            >
              <div class="modal-inner" v-on:click.stop>
                <h1>Link</h1>
                <div class="bold">
                  <a
                    href="https://github.com/ogmer"
                    target="_blank"
                    rel="noopener noreferrer"
                    >GitHub</a
                  >
                  <a
                    href="https://qiita.com/ogmer"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Qiita</a
                  >
                  <a
                    href="https://zenn.dev/ogmer"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Zenn</a
                  >
                </div>
              </div>
            </div>
          </transition>
        </div>

        <!-- app4 -->
        <div id="app4">
          <a
            class="button"
            v-on:click="showModal('modal4')"
            href="#"
            role="link"
            tabindex="0"
            >Contact</a
          >
          <transition name="modal-fade">
            <div
              v-if="showModal4"
              class="modal"
              v-on:click="hideModal('modal4')"
            >
              <div class="modal-inner" v-on:click.stop>
                <h1>Contact</h1>
                <h2>ogmer.net〔at〕gmail.com</h2>
              </div>
            </div>
          </transition>
        </div>
      </main>
    </div>
    <script src="src/components/index.js" defer></script>
  </body>
  <footer>
    <small>Made by ogmer</small>
  </footer>
</html>
