@charset "utf-8";

:root {
  --primary-color: #77a9eb;
  --text-color: #ffffff;
  --link-color: #2ecc71;
  --heading-color: #f39c06;
  --sakura-color: #ffc0cb;
  --animation-duration: 0.45s;
}

/* common-style */
@font-face {
  font-family: "Pommel";
  src: url(../../public/Pommel.woff2);
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}

a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  font-size: 30px;
  font-weight: 650;
  line-height: 2.2em;
  letter-spacing: 0.08em;
  color: var(--text-color);
  transition: color var(--animation-duration) ease;
  outline: none;
}

a:hover {
  color: deeppink;
}

.bold {
  margin-top: 25px;
}

.bold > a {
  color: var(--link-color);
  font-size: 24px;
  text-decoration: underline;
  margin-left: 30px;
}

.bold > a:first-child {
  margin-left: 0;
}

h1 {
  font-size: 30px;
  text-decoration: none;
  color: var(--heading-color);
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

p {
  font-weight: bold;
}

#app1 h2 {
  font-size: 17px;
  line-height: 2.5em;
}

#app2 h2 {
  font-size: 18px;
}

#app4 h2 {
  margin-top: 50px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modal-inner {
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    color: rgb(115, 193, 241);
    background-color: white;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

[v-cloak] {
  display: none;
}

.hide:hover {
  color: #000;
}

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  padding-left: 40px;
  padding-bottom: 15px;
}

small {
  font-size: 35px;
  color: white;
  font-family: "Pommel";
}

.cherry-blossom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .sakura {
    position: absolute;
    background-color: var(--sakura-color);
    border-radius: 150% 0 150% 0;
    animation: animate-sakura var(--animation-duration) linear;
    will-change: transform, opacity;
    transform: translateZ(0);
  }

  .sakura::after {
    content: "";
    position: absolute;
    top: -14%;
    left: -10%;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--sakura-color);
    border-radius: 150% 0 150% 0;
    transform: rotate(15deg);
  }
}

@keyframes animate-sakura {
  0% {
    top: 0;
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
    transform: rotate(3000deg);
  }
}

/* Media Queries */
/* Desktop and Tablet */
@media screen and (min-width: 769px) {
  .menu {
    text-align: center;
    position: absolute;
    top: 150px;
    right: 200px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .menu {
    padding-top: 40px;
    text-align: center;
  }
  footer {
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .menu {
    flex-direction: column;
  }
}
